.xd{
    text-align: center;
}

.xds1{
    border-radius: 50%;
    border-width: 4px;
    border-color: blueviolet;
}

.xds2{
    border-radius: 50%;
    border-width: 4px;
    border-color: blueviolet;
}

.xds3{
    border-radius: 50%;
    border-width: 4px;
    border-color: blueviolet;
}

.xds4{
    border-radius: 50%;
    border-width: 4px;
    border-color: blueviolet;
}

.xds5{
    border-radius: 50%;
    border-width: 4px;
    border-color: blueviolet;  
}