*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.box{
    width: 200px;
    height: 200px;
    background-color: gold;
}
